/* app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom global styles */
body {
  @apply bg-gradient-to-b from-tesda-800 to-tesda-700 text-white font-sans min-h-screen;
}
